.form-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Limit the form width */
    margin: 0 auto;  /* Center the form horizontally */
    margin-top: 40px;
}


.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem; /* Make the brand visually distinct */
}



a.nav-link {
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500; /* Regular font weight */
  transition: font-weight 0.2s ease-in-out;
  color: white;
}

a.nav-link:hover {
  color:rgb(0, 230, 15);
}

.nav-link.active {
  font-weight: bold; /* Make the active link bold */
}
 

button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
button:hover {
        opacity: 0.9;
      }
      

/* Hero Section */
.hero-section {
  background: url('https://images.unsplash.com/photo-1620121478247-ec786b9be2fa?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
  height: 100vh; /* Makes the section fill the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.hero-content .text-center .text-white{
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 2px 6px black;
  margin-top: -50px;
}


.text-center .lead{
  color: #ffffff;
  font-weight:400;
  margin-bottom: 30px;
}

.hero-content a.btn {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition effect */
}

.hero-content a.btn:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Increases shadow on hover */
}


/* Buttons */
.btn-light {
  background-color: #fff;
  color: #007bff;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.btn-light:hover {
  background-color: #007bff;
  color: #fff;
}

/* Features Section */
.feature-card {
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

/* Footer */
footer {
  background-color:rgb(193, 204, 204);
  color: white;
  text-align: center;
  height:40px;
}


